/data/classification/*.csv
/data/clustering/*.csv
/data/query/*.csv
/data/regression/*.csv
/data/suitesparse/*.mtx
/data/results/kmeans/*.csv
param_study/trash/*
mp_tests/cg/*.mtx
mp_tests/bicgstab/*.mtx
mp_tests/bicgstab/*.mtx
mp_tests/dbscan/*.csv
mp_tests/decisiontree/*.csv
mp_tests/decisiontree_reg/*.csv
mp_tests/gassnb/*.csv
mp_tests/gmres/*.csv
mp_tests/iterative_refinement/
mp_tests/kmeans/*.csv
mp_tests/mlp/*.csv
mp_tests/mlp_reg/*.csv
mp_tests/randomforest/*.csv
mp_tests/plots/*
param_study/param_plots/*.jpg